<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заголовок страницы</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <meta property="og:title" content="Заголовок страницы в OG">
    <meta property="og:description" content="Описание страницы в OG">
    <meta property="og:image" content="https://example.com/image.jpg">
    <meta property="og:url" content="https://example.com/">
  </head>
  <body class="body">
    <header class="nav">
        <div class="nav_icon">
          <img src="{% static 'images/iconchat.jpg' %}">
        </div>
        <div class="nav_list">
          <div class="nav_list_div">
              <ul>
                  <li><a href="{% url 'dialogs' %}">Профиль</a></li>
                  <li><a href="{% url 'dialogs' %}">Диалоги тет-а-тет</a></li>
              </ul>
          </div>
      </div>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
  </body>
</html>