{% extends 'index.html' %}

{% block content %}
    <div class="users">
        <div class="users-block">
        {% for user in users %}
            {% if user != request.user %}
            <div class="user">
                <div class="img-div">
                    <img src="{{ user.userprof.image.url }}">
                </div>
                <div class="text-div">
                    <div class="name">{{ user.userprof.name }}</div>
                    <a href="{% url 'create_dialog' user.pk %}">Написать сообщение</a>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock content %}
