html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

.body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    main {
        width: 90%;
    }
}

/* nav header */
.nav {
    width: 100%;
    height: 10%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid grey;

    .nav_icon {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      align-items: center;

      img {
        height: 80%;
      }
    }

    .nav_list {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

        .nav_list_div {
            width: 80%;
            height: 50%;

            ul {
                list-style: none;
                display: flex;
                justify-content: space-around;

                li {
                    font-size: 22px;
                    font-weight: bold;
                    filter: drop-shadow(2px 2px 1px black);
                    overflow: hidden;

                    a:hover {
                        color: aquamarine;
                        font-size: 24px;
                        transition: all 0.5s ease-in-out;
                    }
                }
            }
        }
    }
}
/* main */

.dialogs {
    width: 100%;

    .href1 {
        border: 1px solid black;
        width: 30%;
        height: 100px;
        padding: 0 7px;

        a {
            display: flex;
            align-items: center;
            height: 100%;

            .dialogs_img {
                height: 90%;
                border-radius: 50%;
                border: 3px solid black;
            }

            .text-div {
                width: 100%;
                height: 100%;

                .upper-div {
                    height: 45%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    padding: 0 15px;
                }

                .lower-div {
                    height: 45%;
                    display: flex;
                    align-items: center;

                    .dialogs_mini_img {
                        height: 100%;
                        border-radius: 50%;
                        border: 3px solid black;
                    }

                    .text {
                        display: flex;
                        width: 100%;
                        padding-left: 10px;
                        justify-content: flex-start;
                    }
                }
            }
        }
    }
}