html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}


/* nav header */
.my_nav {
    width: 100%;
    height: 10%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid grey;

    .my_nav_icon {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      align-items: center;

      img {
        height: 80%;
      }
    }

    .my_nav_list {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

        .my_nav_list_div {
            width: 80%;
            height: 50%;

            ul {
                list-style: none;
                display: flex;
                justify-content: space-around;

                li {
                    font-size: 22px;
                    font-weight: bold;
                    filter: drop-shadow(2px 2px 1px black);
                    overflow: hidden;

                    a:hover {
                        color: aquamarine;
                        font-size: 24px;
                        transition: all 0.5s ease-in-out;
                    }
                }
            }
        }
    }
}
/* main */

/* users.html */
.users {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;

    .users-block {
        width: 40%;


        .user {
            display: flex;
            margin-bottom: 10px;
            border: 1px solid black;
            border-radius: 15px;

            &:last-child {
                margin-bottom: 0px;
            }

            .img-div {
                width: 20%;
                padding: 5px;

                img {
                    width: 100%;
                    border-radius: 50%;
                }
            }

            .text-div {
                width: 100%;
                padding: 10px 0 0 10px;

                .name {
                    height: 55%;
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }
    }
}

/* dialogs.html */
.dialogs {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

    .lk {
        margin-top: 30px;
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .btn {
            width: 80%;
            border-radius: 18px;
            border: 1px solid grey;
            line-height: 19pt;

            &:hover {
                background-image: linear-gradient(to left, rgba(55, 69, 64, 0.67), rgba(80, 80, 68, 0.4) 80%);
                font-size: 18px;
                transition: all 2s ease-out;
                overflow: hidden;
            }
        }

        .info {
            padding-top: 5px;
            width: 80%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .user {
                border: 1px solid grey;
                border-radius: 18px;
                margin: 5px 0;
                width: 100%;
                font-size: 28px;
                font-weight: bold;
                text-align: center;
            }

            img {
                width: 100%;
                border-radius: 15px;
            }
        }
    }
}

.dialogs_list {
    margin-top: 30px;
    width: 30%;

    h3 {

        text-align: center;
    }

    .href1 {
        border: 1px solid black;
        background: rgba(70, 69, 64, 0.67);
        border-radius: 30px;
        width: 100%;
        height: 80px;
        margin-bottom: 5px;
        padding: 0 7px;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            display: flex;
            align-items: center;
            height: 100%;
            text-decoration: none;


            .dialogs_img {
                height: 90%;
                border-radius: 50%;
                border: 2px solid black;
            }

            .text-div {
                width: 100%;
                height: 100%;

                .upper-div {
                    height: 45%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    padding: 0 15px;

                    .name {
                        font-size: 18px;
                        font-weight: bold;
                    }
                }

                .newtext {
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    .unreaded {
                        width: 94%;
                        border-radius: 10px;
                        padding-left: 5px;
                        background-color: rgba(66, 66, 66, 0.3);
                    }

                    .readed {
                        width: 94%;
                        border-radius: 10px;
                        padding-left: 5px;
                        background-color: none;
                    }
                }

                .lower-div {
                    height: 45%;
                    display: flex;
                    align-items: center;

                    .dialogs_mini_img {
                        height: 100%;
                        border-radius: 50%;
                        border: 2px solid black;
                    }

                    .unreaded {
                        background-color: rgba(66, 66, 66, 0.3);
                        margin: 0 5px;
                        border-radius: 10px;
                    }

                    .textfield {
                        width: 100%;
                        display: flex;
                        align-items: center;

                        .textchecktrue {
                            color: aquamarine;
                            font-size: 13px;
                        }

                        .textcheckfalse {
                            color: black;
                            font-size: 13px;
                        }

                        .text {
                            display: flex;
                            width: 100%;
                            padding-left: 5px;
                            justify-content: flex-start;
                        }
                    }
                }
            }
        }
    }
}